# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientist use are:
1. Python 
2. SQL 
3. R 
4. Julia 
5. C++

Some of the commonly used libraries used by Data Scientist are:
1. Scientific Computing Lib
2. Python Lib
3. Visualization Lib
4. Deep Learning Lib

|Data Science Tools|
|------------------|
|Jupyter Lab|
|Anaconda|
Visual Studio Code

### Below are few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

**Objectives:**
- List of libraries
- Hours to minutes
- Data Science Tools
- Data Science Languages

## Author

Prabhakar